.menu {
  &__content {
    @include page-grid;
  }

  &__root {
    padding-bottom: 24px;

    grid-column: 1 / -1;

    display: flex;
    gap: 28px;

    border-bottom: 1px solid white;

    @include tablet {
      max-width: 320px;
      padding-bottom: 0;

      grid-column: 1 / 4;
      gap: 38px;

      border-bottom: none;
      border-right: 1px solid white;
    }

    @include desktop {
      max-width: 600px;

      grid-column: 1 / 8;
      gap: 102px;
    }
  }

  &__nav {
    grid-column: 1 / -1;
    gap: 28px;

    @include tablet {
      grid-column: 1 / 4;

      gap: 32px;
    }

    @include desktop {
      grid-column: 1 / 6;

      gap: 72px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      @include desktop {
        row-gap: 30px;
      }
    }

    &__link {
      color: #fff;
      font-size: 16px;
      font-weight: 500;

      @include desktop {
        font-size: 22px;
      }
    }
  }

  &__schedule {
    margin-top: 24px;
    grid-column: 1 / -1;

    color: #fff;

    @include tablet {
      margin-top: 0;
      grid-column: 4 / -1;

      display: flex;
      gap: 35px;
    }

    @include desktop {
      margin-top: 0;
      grid-column: 8 / 12;

      display: flex;
      gap: 46px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__work__time {
      white-space: nowrap;
    }

    &__free__days {
      margin-top: 16px;

      @include tablet {
        align-self: end;
      }
    }
  }
}
