@mixin tablet {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin page-inline-padding {
  padding-inline: 20px;

  @include tablet {
    padding-inline: 34px;
  }

  @include desktop {
    padding-inline: 55px;
  }
}

@mixin page-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  @include desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}

@mixin on-hover {
  transition: all 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
